<!DOCTYPE html>
<html>
  <body>
    <h1>Sake Jr. House Bot</h1>
    <h2>Subscribe to Sake</h2>
    <form action="/subscribe" method="post">
      Name of Bot Feature:<br />
      <input type="text" name="name" />
      <br />
      Author's Name:<br />
      <input type="text" name="owner" />
      <br />
      Conversation to Subscribe to:<br />
      <select name="threadID">
        <% threads.forEach((thread) => { %>
        <option value="<%=thread.id %>"><%=thread.name %></option>
        <%})%>
      </select>
      <br />
      Trigger Word:<br />
      <input type="text" name="trigger" />
      <br />
      Listen to All Messages?:<br />
      <input type="checkbox" name="subscribeAll" />
      <br />
      Subscriber Address:<br />
      <input type="text" name="address" />
      <br />
      AWS API Key (optional):<br />
      <input type="text" name="apiKey" />
      <br />
      Password:<br />
      <input type="password" name="password" />
      <br />
      <br />
      <input type="submit" value="Submit" />
    </form>

    <h2>Send a message directly to Sake</h2>
    <form action="/message" method="post" target="_blank">
      Message:<br />
      <input type="text" name="message" />
      <br />
      Password:<br />
      <input type="password" name="password" />
      <br />
      delayMillisMin:<br />
      <input type="number" name="delayMillisMin" />
      <br />
      delayMillisMax:<br />
      <input type="number" name="delayMillisMax" />
      <br />
      Conversation to send to:<br />
      <select name="threadID">
        <% threads.forEach((thread) => { %>
        <option value="<%=thread.id %>"><%=thread.name %></option>
        <%})%>
      </select>
      <input type="submit" value="Submit" />
    </form>

    <h2>Schedule an event</h2>
    <form action="/schedule" method="post" target="_blank">
      Name:<br />
      <input type="text" name="name" />
      <br />
      Owner:<br />
      <input type="text" name="owner" />
      <br />
      Address:<br />
      <input type="text" name="address" />
      <br />
      Api Key:<br />
      <input type="text" name="apiKey" />
      <br />
      Cron:<br />
      <input type="text" name="cron" />
      <br />
      One Time Only:<br />
      <input type="checkbox" name="delete" value="true" />
      <br />
      Data:<br />
      <input type="text" name="data" />
      <br />
      Password:<br />
      <input type="password" name="password" />
      <br />

      <input type="submit" value="Submit" />
    </form>

    <h2>Subscriptions</h2>
    <% subscribers.forEach((subscriber) => { %>
    <form action="/delete" method="post">
      <input type="hidden" name="name" value="<%=subscriber.name %>" />
      Password:
      <input type="password" name="password" />
      <input type="submit" value="Delete" />
      <%=threads.find((thread)=>thread.id===subscriber.threadID ).name %>
    </form>
    <p>"<%=JSON.stringify(subscriber) %></p>
    <br />
    <%})%>

    <h2>Scheduled Events</h2>
    <% scheduledEvents.forEach((scheduledEvent) => { %>
    <form action="/deleteschedule" method="post">
      <input type="hidden" name="name" value="<%=scheduledEvent.name %>" />
      Password:
      <input type="password" name="password" />
      <input type="submit" value="Delete" />
      <%=scheduledEvent.name %>
    </form>
    <p>"<%=JSON.stringify(scheduledEvent) %></p>
    <br />
    <%})%>
  </body>
</html>
